In [2]:
import pandas as pd

# Load the movie dataset
df = pd.read_csv("movies_metadata.csv")

C:\Users\Admin\AppData\Local\Temp\ipykernel_13440\814475024.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("movies_metadata.csv")

In [3]:
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [6]:
for col in df.columns:
    if df[col].isnull().sum() > 0:
        df[col] = df[col].fillna(df[col].mode()[0])

In [7]:
df.isnull().sum()

adult                    0
belongs_to_collection    0
budget                   0
genres                   0
homepage                 0
id                       0
imdb_id                  0
original_language        0
original_title           0
overview                 0
popularity               0
poster_path              0
production_companies     0
production_countries     0
release_date             0
revenue                  0
runtime                  0
spoken_languages         0
status                   0
tagline                  0
title                    0
video                    0
vote_average             0
vote_count               0
dtype: int64

In [9]:
# Subset for English movies using loc[]
english_movies = df.loc[df['original_language'] == 'en']
# Subset for Hindi movies using loc[]
hindi_movies = df.loc[df['original_language'] == 'hi']
# Subset for French movies using loc[]
french_movies = df.loc[df['original_language'] == 'fr']

# Subset for English language
#english_movies = df[df['original_language'] == 'en']
# Subset for Hindi language
#hindi_movies = df[df['original_language'] == 'hi']

In [11]:
# Merge English and Hindi movies
merged_movies = pd.concat([english_movies, hindi_movies], ignore_index=True)
merged_movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Based on a true story.,Toy Story,False,7.7,5415.0
1,False,"{'id': 415931, 'name': 'The Bowery Boys', 'pos...",65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.georgecarlin.com,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",http://www.georgecarlin.com,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,"{'id': 415931, 'name': 'The Bowery Boys', 'pos...",16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.georgecarlin.com,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",http://www.georgecarlin.com,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32783,False,"{'id': 415931, 'name': 'The Bowery Boys', 'pos...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",http://www.georgecarlin.com,137180,tt2255934,hi,Aiyyaa,"Meenakshi, a Marathi gal with an ultra-sensiti...",...,2012-10-12,0.0,146.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,Based on a true story.,Aiyyaa,False,6.5,5.0
32784,False,"{'id': 415931, 'name': 'The Bowery Boys', 'pos...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://en.wikipedia.org/wiki/3_A.M._(2014_film...,298787,tt3720634,hi,3 बजे,3 A.M. is a 2014 Hindi musical horror directed...,...,2014-09-26,0.0,0.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Based on a true story.,3 A.M,False,2.7,3.0
32785,False,"{'id': 415931, 'name': 'The Bowery Boys', 'pos...",0,[],http://www.georgecarlin.com,316437,tt1709731,hi,Pairon Talle,"Amid the epic landscape of the Mahabharata, th...",...,2011-01-15,0.0,99.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,"Amid the epic landscape of the Mahabharata, th...",Pairon Talle,False,5.0,1.0
32786,False,"{'id': 415931, 'name': 'The Bowery Boys', 'pos...",0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",http://www.georgecarlin.com,413421,tt5502766,hi,फिल्लौरी,A man is forced to marry a tree to ward off il...,...,2017-03-24,0.0,138.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Some love stories last beyond a lifetime,Phillauri,False,7.1,11.0
32787,False,"{'id': 415931, 'name': 'The Bowery Boys', 'pos...",0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://www.georgecarlin.com,404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,...,2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Based on a true story.,Mom,False,6.6,14.0

In [13]:
# Sort by vote_average in descending order
sorted_movies = df.sort_values(by='vote_average', ascending=False)
print(sorted_movies.head())

       adult                              belongs_to_collection budget  \
45362  False  {'id': 415931, 'name': 'The Bowery Boys', 'pos...      0
40269  False  {'id': 415931, 'name': 'The Bowery Boys', 'pos...      0
27173  False  {'id': 415931, 'name': 'The Bowery Boys', 'pos...      0
11050  False  {'id': 415931, 'name': 'The Bowery Boys', 'pos...      0
45251  False  {'id': 415931, 'name': 'The Bowery Boys', 'pos...      0

                                                  genres  \
45362                                                 []
40269  [{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...
27173                      [{'id': 18, 'name': 'Drama'}]
11050  [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...
45251                     [{'id': 35, 'name': 'Comedy'}]

                          homepage      id    imdb_id original_language  \
45362  http://www.georgecarlin.com  173874  tt0113769                en
40269  http://www.georgecarlin.com  288503  tt0082616                pt
27173  http://www.georgecarlin.com  247447  tt0243218                fa
11050  http://www.georgecarlin.com   43147  tt0022696                en
45251  http://www.georgecarlin.com   28469  tt0273646                de

                          original_title  \
45362  The Many Faces of Christopher Lee
40269                            Killjoy
27173                          بید و باد
11050                      Blessed Event
45251                      Der Herr Karl

                                                overview  ... release_date  \
45362  Christopher Lee talks about his film career, w...  ...   1996-01-01
40269  Story of a young woman's murder and the people...  ...   1981-08-24
27173  A boy breaks a window at his school and sets o...  ...   2000-01-01
11050  A New York gossip columnist (Lee Tracy) feuds ...  ...   1932-09-10
45251                                 No overview found.  ...   1961-11-15

      revenue runtime                          spoken_languages    status  \
45362     0.0    60.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released
40269     0.0    96.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released
27173     0.0    77.0    [{'iso_639_1': 'fa', 'name': 'فارسی'}]  Released
11050     0.0    80.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released
45251     0.0    60.0  [{'iso_639_1': 'de', 'name': 'Deutsch'}]  Released

                                                 tagline  \
45362                             Based on a true story.
40269                             Based on a true story.
27173                             Based on a true story.
11050  Here it is! The scandalous comedy of a scandal...
45251                             Based on a true story.

                                   title  video vote_average vote_count
45362  The Many Faces of Christopher Lee  False         10.0        1.0
40269                            Killjoy  False         10.0        1.0
27173                    Willow and Wind  False         10.0        1.0
11050                      Blessed Event  False         10.0        1.0
45251                      Der Herr Karl  False         10.0        1.0

[5 rows x 24 columns]

In [15]:
# Transpose a small sample of data for better readability
transposed = df.head(2).transpose()
transposed

,0,1
adult,False,False
belongs_to_collection,"{'id': 10194, 'name': 'Toy Story Collection', ...","{'id': 415931, 'name': 'The Bowery Boys', 'pos..."
budget,30000000,65000000
genres,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
homepage,http://toystory.disney.com/toy-story,http://www.georgecarlin.com
id,862,8844
imdb_id,tt0114709,tt0113497
original_language,en,en
original_title,Toy Story,Jumanji
overview,"Led by Woody, Andy's toys live happily in his ...",When siblings Judy and Peter discover an encha...
popularity,21.946943,17.015539
poster_path,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
production_companies,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'name': 'TriStar Pictures', 'id': 559}, {'na..."
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o..."
release_date,1995-10-30,1995-12-15
revenue,373554033.0,262797249.0
runtime,81.0,104.0
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."
status,Released,Released
tagline,Based on a true story.,Roll the dice and unleash the excitement!
title,Toy Story,Jumanji
video,False,False
vote_average,7.7,6.9
vote_count,5415.0,2413.0

In [19]:
# Melting
melted_df = pd.melt(df,
                    id_vars=['original_title'],
                    value_vars=['budget', 'popularity'],
                    var_name='feature',
                    value_name='value')
melted_df

                    original_title     feature     value
0                        Toy Story      budget  30000000
1                          Jumanji      budget  65000000
2                 Grumpier Old Men      budget         0
3                Waiting to Exhale      budget  16000000
4      Father of the Bride Part II      budget         0
...                            ...         ...       ...
90927                      رگ خواب  popularity  0.072051
90928          Siglo ng Pagluluwal  popularity  0.178241
90929                     Betrayal  popularity  0.903007
90930          Satana likuyushchiy  popularity  0.003503
90931                     Queerama  popularity  0.163015

[90932 rows x 3 columns]

In [22]:
casted_df = melted_df.pivot_table(
    index='original_title',
    columns='feature',
    values='value',
    aggfunc='first'   # or 'mean', 'max', etc.
).reset_index()
casted_df

feature         original_title    budget popularity
0        !Women Art Revolution         0   0.077485
1          #1 Cheerleader Camp         0   1.190427
2                      #Horror   1500000   2.451342
3               #Pellichoopulu    200000   0.902294
4                 #SELFIEPARTY         0   0.042226
...                        ...       ...        ...
43368                  １リットルの涙         0    0.60711
43369        １３号待避線より　その護送車を狙え         0   0.707129
43370     ２０世紀少年< 第1章> 終わりの始まり  20000000   1.889519
43371                  ３－４Ｘ１０月         0   1.961194
43372       ＳＭガールズ セイバーマリオネットＲ         0   0.001258

[43373 rows x 3 columns]