In [2]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('hepatitis_csv.csv')

print(df.isnull().sum())

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
protime            67
histology           0
class               0
dtype: int64

In [4]:
df.replace('?', np.nan, inplace=True)
df.dropna(inplace=True)# b. Merge two subsets (concat vertically)

#df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
for col in df.columns:
    try:
        df[col] = pd.to_numeric(df[col], errors='coerce')  # Convert non-numeric columns to NaN
    except:
        pass

print(df.isnull().sum())

age                0
sex                0
steroid            0
antivirals         0
fatigue            0
malaise            0
anorexia           0
liver_big          0
liver_firm         0
spleen_palpable    0
spiders            0
ascites            0
varices            0
bilirubin          0
alk_phosphate      0
sgot               0
albumin            0
protime            0
histology          0
class              0
dtype: int64

In [19]:
# a. Create data subsets for different sex
#male_df = df[df['Sex'] == 1]
#female_df = df[df['Sex'] == 2]

# a. Create data subsets for different sex using loc[]
male_df = df.loc[df['Sex'] == 1]
female_df = df.loc[df['Sex'] == 2]
female_df

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhosphate,SGOT,Albumin,Protime,Histology
20,2,22,2,2,1,1,2,2,2,2,2,2,2,2,0.9,48,20,4.2,64,1
24,2,25,2,1,1,2,2,2,2,2,2,2,2,2,0.4,45,18,4.3,70,1
27,2,58,2,2,2,1,2,2,2,1,2,1,2,2,1.4,175,55,2.7,36,1
32,2,41,2,2,1,1,1,1,2,2,2,2,2,2,0.7,81,53,5.0,74,1
33,2,26,2,1,2,2,2,2,2,1,2,2,2,2,0.5,135,29,3.8,60,1
47,2,28,2,2,2,1,1,2,2,1,2,2,2,2,1.8,191,420,3.3,46,1
77,2,34,2,1,1,2,2,2,2,1,2,2,2,2,0.6,30,24,4.0,76,1
84,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.3,141,156,3.9,58,1
90,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.9,230,117,3.4,41,2
125,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.7,70,24,4.1,100,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.5,81,19,4.1,48,2

In [20]:
# b. Merge two subsets (concat vertically)
merged_df = pd.concat([male_df, female_df], axis=0)
merged_df

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhosphate,SGOT,Albumin,Protime,Histology
5,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.9,95,28,4.0,75,1
10,2,39,1,1,1,2,2,2,1,1,2,2,2,2,1.3,78,30,4.4,85,1
11,2,32,1,2,1,1,2,2,2,1,2,1,2,2,1.0,59,249,3.7,54,1
12,2,41,1,2,1,1,2,2,2,1,2,2,2,2,0.9,81,60,3.9,52,1
13,2,30,1,2,2,1,2,2,2,1,2,2,2,2,2.2,57,144,4.9,78,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,2,34,2,1,1,2,2,2,2,1,2,2,2,2,0.6,30,24,4.0,76,1
84,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.3,141,156,3.9,58,1
90,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.9,230,117,3.4,41,2
125,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.7,70,24,4.1,100,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.5,81,19,4.1,48,2

In [21]:
# c. Sort Data using Age, SGOT, PROTIME
sorted_df = merged_df.sort_values(by=['Age', 'SGOT', 'Protime'])
sorted_df

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhosphate,SGOT,Albumin,Protime,Histology
121,2,20,1,1,2,1,1,1,2,2,2,1,1,2,1.0,160,118,2.9,23,2
20,2,22,2,2,1,1,2,2,2,2,2,2,2,2,0.9,48,20,4.2,64,1
36,2,23,1,2,2,1,1,1,2,2,1,2,2,2,1.3,194,150,4.1,90,1
24,2,25,2,1,1,2,2,2,2,2,2,2,2,2,0.4,45,18,4.3,70,1
135,2,25,1,2,2,1,2,2,1,1,1,1,1,1,1.3,181,181,4.5,57,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,2,61,1,1,2,1,2,2,1,1,2,2,2,2,1.3,78,25,3.8,100,1
84,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.3,141,156,3.9,58,1
58,2,64,1,2,1,1,1,2,1,1,2,2,2,2,1.0,80,38,4.3,74,1
39,2,65,1,2,2,1,1,2,2,1,1,1,1,2,0.3,180,53,2.9,74,2
133,2,72,1,2,1,1,2,2,2,1,2,2,2,2,1.0,115,52,3.4,50,2

In [22]:
# d. Transposing Data (first 5 rows for clarity)
transposed_df = sorted_df.head().transpose()
transposed_df

                  121   20     36    24     135
Class             2.0   2.0    2.0   2.0    2.0
Age              20.0  22.0   23.0  25.0   25.0
Sex               1.0   2.0    1.0   2.0    1.0
Steroid           1.0   2.0    2.0   1.0    2.0
Antivirals        2.0   1.0    2.0   1.0    2.0
Fatigue           1.0   1.0    1.0   2.0    1.0
Malaise           1.0   2.0    1.0   2.0    2.0
Anorexia          1.0   2.0    1.0   2.0    2.0
LiverBig          2.0   2.0    2.0   2.0    1.0
LiverFirm         2.0   2.0    2.0   2.0    1.0
SpleenPalpable    2.0   2.0    1.0   2.0    1.0
Spiders           1.0   2.0    2.0   2.0    1.0
Ascites           1.0   2.0    2.0   2.0    1.0
Varices           2.0   2.0    2.0   2.0    1.0
Bilirubin         1.0   0.9    1.3   0.4    1.3
AlkPhosphate    160.0  48.0  194.0  45.0  181.0
SGOT            118.0  20.0  150.0  18.0  181.0
Albumin           2.9   4.2    4.1   4.3    4.5
Protime          23.0  64.0   90.0  70.0   57.0
Histology         2.0   1.0    1.0   1.0    2.0

In [23]:
# e. Melting Data to long format (example with selected columns)
melted_df = pd.melt(
    df[['Age', 'Sex', 'SGOT', 'Protime']],
    id_vars=['Sex'],
    var_name='Variable',
    value_name='Value'
)
melted_df

     Sex Variable  Value
0      1      Age     34
1      1      Age     39
2      1      Age     32
3      1      Age     41
4      1      Age     30
..   ...      ...    ...
235    1  Protime     85
236    1  Protime     35
237    1  Protime     54
238    2  Protime     48
239    1  Protime     42

[240 rows x 3 columns]

In [24]:
# f. Casting (pivoting) data to wide format
casted_df = melted_df.pivot_table(index='Sex', columns='Variable', values='Value', aggfunc='mean').reset_index()
casted_df

Variable  Sex        Age    Protime       SGOT
0           1  40.869565  62.724638  81.550725
1           2  39.363636  61.181818  85.000000

In [25]:
# Display outputs
print("\n--- Male Subset ---\n", male_df.head())
print("\n--- Female Subset ---\n", female_df.head())
print("\n--- Merged Data ---\n", merged_df.head())
print("\n--- Sorted Data ---\n", sorted_df[['Age', 'SGOT', 'Protime']].head())
print("\n--- Transposed Data (First 5 rows) ---\n", transposed_df)
print("\n--- Melted Data ---\n", melted_df.head())
print("\n--- Casted Data (Wide Format) ---\n", casted_df)

--- Male Subset ---
     Class  Age  Sex  Steroid  Antivirals  Fatigue  Malaise  Anorexia  \
5       2   34    1        2           2        2        2         2
10      2   39    1        1           1        2        2         2
11      2   32    1        2           1        1        2         2
12      2   41    1        2           1        1        2         2
13      2   30    1        2           2        1        2         2

    LiverBig  LiverFirm  SpleenPalpable  Spiders  Ascites  Varices  Bilirubin  \
5          2          2               2        2        2        2        0.9
10         1          1               2        2        2        2        1.3
11         2          1               2        1        2        2        1.0
12         2          1               2        2        2        2        0.9
13         2          1               2        2        2        2        2.2

    AlkPhosphate  SGOT  Albumin  Protime  Histology
5             95    28      4.0       75          1
10            78    30      4.4       85          1
11            59   249      3.7       54          1
12            81    60      3.9       52          1
13            57   144      4.9       78          1

--- Female Subset ---
     Class  Age  Sex  Steroid  Antivirals  Fatigue  Malaise  Anorexia  \
20      2   22    2        2           1        1        2         2
24      2   25    2        1           1        2        2         2
27      2   58    2        2           2        1        2         2
32      2   41    2        2           1        1        1         1
33      2   26    2        1           2        2        2         2

    LiverBig  LiverFirm  SpleenPalpable  Spiders  Ascites  Varices  Bilirubin  \
20         2          2               2        2        2        2        0.9
24         2          2               2        2        2        2        0.4
27         2          1               2        1        2        2        1.4
32         2          2               2        2        2        2        0.7
33         2          1               2        2        2        2        0.5

    AlkPhosphate  SGOT  Albumin  Protime  Histology
20            48    20      4.2       64          1
24            45    18      4.3       70          1
27           175    55      2.7       36          1
32            81    53      5.0       74          1
33           135    29      3.8       60          1

--- Merged Data ---
     Class  Age  Sex  Steroid  Antivirals  Fatigue  Malaise  Anorexia  \
5       2   34    1        2           2        2        2         2
10      2   39    1        1           1        2        2         2
11      2   32    1        2           1        1        2         2
12      2   41    1        2           1        1        2         2
13      2   30    1        2           2        1        2         2

    LiverBig  LiverFirm  SpleenPalpable  Spiders  Ascites  Varices  Bilirubin  \
5          2          2               2        2        2        2        0.9
10         1          1               2        2        2        2        1.3
11         2          1               2        1        2        2        1.0
12         2          1               2        2        2        2        0.9
13         2          1               2        2        2        2        2.2

    AlkPhosphate  SGOT  Albumin  Protime  Histology
5             95    28      4.0       75          1
10            78    30      4.4       85          1
11            59   249      3.7       54          1
12            81    60      3.9       52          1
13            57   144      4.9       78          1

--- Sorted Data ---
      Age  SGOT  Protime
121   20   118       23
20    22    20       64
36    23   150       90
24    25    18       70
135   25   181       57

--- Transposed Data (First 5 rows) ---
                   121   20     36    24     135
Class             2.0   2.0    2.0   2.0    2.0
Age              20.0  22.0   23.0  25.0   25.0
Sex               1.0   2.0    1.0   2.0    1.0
Steroid           1.0   2.0    2.0   1.0    2.0
Antivirals        2.0   1.0    2.0   1.0    2.0
Fatigue           1.0   1.0    1.0   2.0    1.0
Malaise           1.0   2.0    1.0   2.0    2.0
Anorexia          1.0   2.0    1.0   2.0    2.0
LiverBig          2.0   2.0    2.0   2.0    1.0
LiverFirm         2.0   2.0    2.0   2.0    1.0
SpleenPalpable    2.0   2.0    1.0   2.0    1.0
Spiders           1.0   2.0    2.0   2.0    1.0
Ascites           1.0   2.0    2.0   2.0    1.0
Varices           2.0   2.0    2.0   2.0    1.0
Bilirubin         1.0   0.9    1.3   0.4    1.3
AlkPhosphate    160.0  48.0  194.0  45.0  181.0
SGOT            118.0  20.0  150.0  18.0  181.0
Albumin           2.9   4.2    4.1   4.3    4.5
Protime          23.0  64.0   90.0  70.0   57.0
Histology         2.0   1.0    1.0   1.0    2.0

--- Melted Data ---
    Sex Variable  Value
0    1      Age     34
1    1      Age     39
2    1      Age     32
3    1      Age     41
4    1      Age     30

--- Casted Data (Wide Format) ---
 Variable  Sex        Age    Protime       SGOT
0           1  40.869565  62.724638  81.550725
1           2  39.363636  61.181818  85.000000